<md-content>
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">Reset Password</div>
		</md-toolbar>
		<md-card-content>
			<md-input-container>
				<label>New Password</label>
				<input type="password" ng-model="resetPasswordView.password"/>
			</md-input-container>
			<md-input-container>
				<label>Confirm Password</label>
				<input type="password" ng-model="resetPasswordView.password_confirmation"/>
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="resetPasswordView.resetPassword()">Reset Password</md-button>
		</md-card-content>
	</md-card>
</md-content>